/*https://www.w3schools.com/w3css/w3css_color_generator.asp
https://www.w3schools.com/css/tryit.asp?filename=trycss_template3
HEX: #bccad6

HEX: #8d9db6

HEX: #667292

HEX: #f1e3dd

*/


body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color:#f1f3f4;
	overflow: scroll;
}
.error{
	color: red;
	position:fixed;
	font-size:15;
	bottom:0;
	left:0;
}
.succes{
	color: green;
	position:fixed;
	font-size:15;
	bottom:0;
	left:0;
}

.topnav {
	overflow: hidden;
	background-color: #292F33;
	padding: 18px;
	box-shadow: 0 2px 4px 0 grey;

}

.topnav a {
	color: #f2f2f2;
	text-align: center;
	padding: 19px 19px;
	text-decoration: none;
	font-size:18px;
}

.topnav a:hover {
	background-color: #ffff99;
	color: black;
}
.logo{
	position: absolute;
	top:0;
	text-align:left;
	color:white;
	font-size: x-small;
}

.header{
	text-align:left;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	font-size:25;
	width:90%;
	margin-top: 10px; margin-bottom: 5px;
	
}

.content {
	padding: 10px;
	/*height: 300px;*/
}


table.main {
	background-color: #FFFFFF;
	width: 90%;
	box-shadow: 0 2px 4px 0 grey;
	margin-bottom: 10px;
	
}
table.main th{
	padding: 10px;
	text-align: left;	
	font-size:20;
}

table.main td {
	padding: 5px;
	text-align: left;
}
table.main tr:nth-child(even) {background-color: #F6F6F6;}
table.main tr:hover {background-color: #ffff91;}

.bottom_buttons{
	width:90%;
	padding: 5px;
}

/* Footer */
.footer {
	margin-top: 50px; 
	/*background-color: #292f33;
	color:white;
	padding: 10px;
	height: 50px;
	box-shadow: 0 2px 4px 0 grey;*/
}


/****************************
	INPUTS AND BUTTONS	    *
/****************************

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;

}
input[type=text], select, textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
	background-color:smokewhite;
	padding: 5px 40px;
	border: 1px solid #292F33;
	width:100%;
	border-radius: 4px;
}
.button_arrow {
	background-color:smokewhite;
	padding: 2px 2px;
	border: 1px solid #292F33;
	border-radius: 4px;
	float:left;
}
.button_details {
	background-color:smokewhite;
	border: 1px solid #292F33;
	border-radius: 4px;
	width:100%;
}
.button_arrow:hover {
	background-color: #292F33;
	color: white;
}

.button:hover {
	background-color: #292F33;
	color: white;
}
.button_details:hover {
	background-color: #292F33;
	color: white;
}