/*
*
* ==========================================
* THEME COLOURS
* ==========================================
*
*/

.bg-orange { background-color: #ff976f; }
.bg-red { background-color: #ff6075; }
.bg-red-orange { background-color: #fe6d56; }
.bg-green { background-color: #00c943; }
.bg-sky-blue { background-color: #4cc1e6; }
.bg-blue { background-color: #2a94bc; }
.bg-dark-blue { background-color: #365b7b; }
.bg-cyan { background-color: #00a5a7; }
.bg-dark-cyan { background-color: #537a8a; }
.bg-purple { background-color: #6d5a79; }
