body{
  overflow-y: scroll;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.navbar{
padding: 0px;
box-shadow: 0 2px 4px 0 grey; 
font-size: 18px;
border-bottom: 2px solid seagreen;
}
.nav-link{
  padding:20px;
  border: 2px solid transparent;
}
.dropdown-item{
border-left: 2px solid seagreen;
border-bottom: 2px solid transparent;

}

.nav-item a:hover{
  /*background-color: seagreen;*/
  border-bottom: 2px solid seagreen;
 
}
.header{
  border-left: 4px solid seagreen; 
  padding-left: 20px;
  border-bottom: 1px solid lightgrey;
  width: 100%;

}
.header-content{
  border-left: 4px solid rgb(216, 142, 4);
  padding-left: 20px;
  border-bottom: 1px solid lightgrey;
  width: 100%;

}
.list-group-item{
  margin-top: 10px;
}


.button {
	padding: 5px 40px;
	border: 1px solid lightgrey;
	width:100%;
  border-radius: 4px;
}
.button:hover {
	background-color: seagreen;
	color: white;
}