body{
  overflow-y: scroll;
}

footer {
  padding: 10px;
  text-align: center;
}
.container{
  margin-bottom: 30px;
}
.display-4{
  font-size: 2.5rem;
}

button:focus {
  outline: inherit;
}

.table-sm tr:hover{
  background-color: whitesmoke;
  transition: 0.7s ease;
  
}
.table-sm td:hover{
  cursor: pointer;
}

.table-sm td, tr{
    padding: 0;
    margin: 0;
    border-spacing:0px;
}

.collapsing {
          transition: 1s ease;
}
.table-button{
  width: 100%;
  text-align: left;
  border:none;
  background: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  font: inherit;
  padding:10px;
}

.navbar{
padding: 0px;
box-shadow: 0 2px 4px 0 grey; 
font-size: 18px;
margin-bottom: 15px;
}
.nav-link{
  padding:20px;
  border: 2px solid transparent;
}
.dropdown-item{
border-left: 2px solid seagreen;
border-bottom: 2px solid transparent;

}

.nav-item a:hover{
  /*background-color: seagreen;*/
  border-bottom: 2px solid seagreen;
 
}
.header{
  border-left: 4px solid seagreen; 
  padding-left: 20px;
  border-bottom: 1px solid lightgrey;
  width: 100%;

}

.list-group-item{
  margin-top: 10px;
  box-shadow: 0 2px 4px 0 lightgrey; 

}

.button {
  margin-top:2px;
	padding: 6px;
	border: 1px solid lightgrey;
	width:100%;
  border-radius: 4px;
  background-color: white;
  border-left: 4px solid lightgrey;
  box-shadow: 0 2px 4px 0 whitesmoke;
}
.button:hover {
  border-left: 4px solid seagreen;
  background-color: whitesmoke;
  box-shadow: 0 2px 4px 0 lightgrey; 
  
}