@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
  overflow-y: scroll;
  background-color: #f0f0f0;
}
.chart{
  width: 100%; 
  height: 100%;
}

#search_person{
  padding:0;
  border: none;
  margin:0;
  display:none;
}

.btn-danger{
  display:none;
}

.short-col{
  max-height: 5rem;
  overflow: auto;
}

.chart-col{
  height: 15rem;
  width:100%;
}
footer{
  padding:1rem;
}
h5{
  font-family: 'Roboto', sans-serif;
}
.form-controll{
  font-family: 'Barlow', sans-serif;
}

.person-img{
  height: 4rem;
  width: 4rem;
}

.modul{
  background-color: #f8f8f8;
}

.logo{
  background-color: #292F33;
  height: 100%;
  color:white;
}

a{
  font-family: 'Open Sans', sans-serif;
  color: inherit;
}
a:hover{
  color: inherit;
}

.display-4{
  font-size: 2rem;
}

table{
  font-family: 'Barlow', sans-serif;
  border: hidden;
}

.truncate{
  width: 10rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

button:focus {
  outline: none;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}


.table-sm tr:hover{
  background-color: white;
  transition: 0.3s ease;
}

.table-sm td:hover{
  cursor: pointer;
}

.table-sm td, tr{
    padding: 0;
    margin: 0;
    border-spacing:0px;
    vertical-align: middle;
}

.collapsing {
        transition: 1s ease;
}
.nr{

  width:1rem;

}
.table-button{
  width: 100%;
  text-align: left;
  border:none;
  background: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  font: inherit;
  padding:0.5rem;
  
}
.leftbar{
  position: fixed;
  top: 0;
  left:0;
  bottom: 0;
  background-color: whitesmoke;
}

.leftbar-menu{
  background-color: whitesmoke;
}

.navbar{
padding: 0;
width:100%;
}

.badge{
  cursor: pointer;
  margin-left: 0.2rem;
}

.dropdown-item:hover{
  background-color: whitesmoke;
  transition: 0.4s ease;
}

.header{
  border-left: 4px solid seagreen; 
  padding-left: 1rem;
  width: 100%;
}


.button {
  font-family: 'Barlow', sans-serif;
  padding: 0.5rem;
  margin-top: 0.5rem;
	border: 1px solid lightgrey;
	width:100%;
  border-radius: 4px;
  background-color: white;
  border-left: 4px solid lightgrey;
  box-shadow: 0 2px 4px 0 whitesmoke;
}

.button:hover {
  border-left: 4px solid seagreen;
  background-color: whitesmoke;
  box-shadow: 0 2px 4px 0 lightgrey; 
}
